.bpmn{
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

input{
    margin-left: 20px;
}

button{
    margin-top: 20px;
    padding: 5px;
}